@use "variables" as *;
@use "mixins";

.button {
  @include mixins.button($primary, white, $hover);
  border: 0;

  &_alt {
    @include mixins.button(white, $primaryLight, $primaryLight);
    border: $defaultBorder;
    transition: border-color 0.3s ease; //исправление
    &:hover,
    &:focus {           //добавили фокус   
      border: $hoverBorder;
    }
  }

  &_alt-active {
    @include mixins.button(white, $primaryLight, $primaryLight);
    //border: $hoverBorder;  <--закомментировали
    border: 2px solid #ffffff;
  }
}